MONGODB_URI=
MONGO_URI=
AUTH_SECRET=generate-a-long-random-secret
NEXT_PUBLIC_APP_URL=http://localhost:3000
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_CALLBACK_URL=http://localhost:3000/api/paystack/verify
RESEND_API_KEY=
MAIL_FROM=Dozentelecom <onboarding@resend.dev>
ATC_MTN_NUMBER=08143140831
ATC_AIRTEL_NUMBER=09112123096
CLOUDEYE_BASE_URL=https://api.cloudeye.ng
PROVN_TEST_KEY=
PROVN_ACCESS_KEY=
ADMIN_EMAIL=
PASSKEY_RP_ID=localhost
PASSKEY_RP_NAME=Dozentelecom

PAYSTACK_DVA_BANK=titan-paystack
SME_API_URL=https://smeapi.com.ng/api
SME_API_KEY=
SME_API_TIMEOUT_MS=20000
WIZESUB_API_KEY=
WIZESUB_API_SECRET=
WIZESUB_ENVIRONMENT=test
WIZESUB_BASE_URL=https://app.wisesub.com.ng/api/partner/v1