node_modules
.next
.env.local
coverage
*.log
.env

android.keystore
.gradle/
build/
app/build/
app-release-bundle.aab
app-release-signed.apk
app-release-signed.apk.idsig
app-release-unsigned-aligned.apk
